* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: #151515;
}

.container {
    width: 200px;
    height: 350px;
    position: relative;
    transform-origin: top;
    animation: swing 1000ms ease-in-out infinite alternate-reverse;
}
.img {
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 250px;
    overflow: hidden;
    box-shadow: 0 0 .5rem #f3e24d;
    border: 1px solid #f3e24d;
    border-radius: .3rem;
}
.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dot {
    width: 10px;
    aspect-ratio: 1;
    background-color: #f3e24d;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 .3rem #f3e24d;
}
.dot::before,
.dot::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100px;
    background-color: #f3e24d;
    box-shadow: 0 0 .3rem #f3e24d;
    transform: translateY(5px);
}
.dot::after {
    right: 0;
}

@keyframes swing {
    from { transform: rotate(8deg); }
    to { transform: rotate(-8deg); }
}